.two-seats {
  width: 100px;
  height: 120px;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.two-seats:hover {
  background-color: rgba(128, 128, 128, 0.237);
  cursor: pointer;
}

.two-seats svg {
  width: 90%;
  height: 90%;
}

.empty {
  color: rgb(113, 113, 113);
}
