* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Italiana", sans-serif;
}

p {
  font-size: 1.1rem;
  font-weight: 600;
}

form {
  background-color: rgba(212, 212, 212, 0.563);
  border-radius: 10px;
  padding: 1rem;
}

label {
  font-weight: 600;
}

input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid rgb(148, 148, 148);
  height: 40px;
}

.input-container {
  width: 250px;
}

.guest-input {
  width: 80px;
  padding-left: 0.5rem;
}

.full-width {
  width: 100%;
}

.font-bold {
  font-weight: 600;
}

.font.small {
  font-size: 0.8rem;
}

.font.medium {
  font-size: 1.3rem;
}

.font.large {
  font-size: 1.5rem;
}

.debug-frame {
  outline: 1px solid red;
}

.layout {
  height: 100vh;
}

.primary-button {
  font-family: inherit;
  padding: 0.8rem;
  background-color: transparent;
  border: 1px solid lightgrey;
  font-weight: 600;
  font-size: 1rem;
}

.secondary-button {
  font-family: inherit;
  padding: 0.8rem;
  background-color: white;
  border: 1px solid lightgrey;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.secondary-button:hover {
  cursor: pointer;
  background-color: rgb(219, 218, 218);
  border: 1px solid rgb(140, 140, 140);
}

.secondary-button:disabled {
  cursor: auto;
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  background-color: white;
  border: 1px solid lightgrey;
}

.admin-button {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid grey;
  max-height: 50px;
  min-width: 90px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.admin-button.danger {
  background-color: rgb(247, 76, 76);
  color: white;
  border: 1px solid rgb(186, 67, 67);
}

.admin-button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 4px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-resize {
  flex-grow: 1;
  flex-shrink: 1;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-small {
  gap: 0.5rem;
}

.gap-medium {
  gap: 1rem;
}

.gap-large {
  gap: 1.5rem;
}

.padding.small {
  padding: 1rem;
}

.spacing.small {
  height: 1rem;
}

.spacing.medium {
  height: 2rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.frontpage-paragraph {
  max-width: 50%;
}

.menu-item {
  width: 60%;
}

.half-width {
  width: 60%;
}

.button-position {
  right: -85px;
  top: 10px;
}

.address {
  font-size: 1rem;
  font-weight: 600;
}

.logo-wrapper {
  width: 300px;
  height: 300px;
}

.logo-wrapper.footer {
  width: 150px;
  height: 150px;
}

footer {
  padding: 0 1rem;
  width: 100%;
  background-color: rgba(212, 212, 212, 0.563);
  justify-content: space-between;
}

.socials {
  padding-right: 2rem;
}

.social-icon {
  width: 50px;
  height: 50px;
  color: black;
  transition: all 0.3s ease;
}

.social-icon:hover {
  color: rgb(79, 79, 79);
}

.outlet {
  width: 50%;
}

.cover-image-wrapper {
  width: 50%;
  overflow: hidden;
}

.cover-image {
  width: 50vw;
  left: 0;
  bottom: -300px;
}

.seats-wrapper {
  width: 120px;
  height: 120px;
}

.seats-wrapper svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .outlet {
    width: 100%;
  }

  .cover-image-wrapper {
    display: none;
  }
}
