.six-seats {
  width: 160px;
  height: 140px;
  border-radius: 30px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.six-seats:hover {
  background-color: rgba(128, 128, 128, 0.237);
  cursor: pointer;
}

.six-seats svg {
  width: 90%;
  height: 90%;
}

.empty {
  color: rgb(113, 113, 113);
}
